body {
    background: #ebe9e9;
    font-family: Helvetica, sans-serif;
    align-content: center;
}

.input-group{
    padding: 15px;
}
.input-group input{
    padding-bottom:0px;
    margin-bottom: 40px;
    width: 75%;
    height: 30px;
}

.loginButton{
    border: 0px;
    margin: 0;
    width: 50%;
    font-size: 1.1em;
    border-radius: 4px;
    padding: 6px;
    color: white;
    background: #3b92fc;
    margin-bottom: 20px;
}


.login {
    background: #ffffff;
    width: 360px;
    margin: 250px auto;
    border: 1px solid #eee;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 60px 15px 40px 15px;
    text-align: center;
}
