{% extends "base.html" %}
{% block content %}
    {% include "main/header.html" %}
<div class="main-content">
    <form method="POST">
        {% csrf_token %}
        <select name=section_select size="9">
            {%for s in sections %}
                <option>
                    {{s.course.dept}}-{{ s.cnum }}-{{ s.snum }} Instructor:{{s.instructor}}
                </option>
            {%endfor%}
        </select>
        <input type="submit" name=assign value="Assign to User"/>
    </form>
</div>
    {% include "main/footer.html" %}
{% endblock content %}