{% extends "base.html" %}

{% block content %}
<div class="courses">
    {% include "main/header.html" %}
    <h1>Section List</h1>

    {% for section in sections %}
        <div style="padding: 32px; background-color: lightgray">
            <p>
                <a href="{{ section.cnum }}{{ section.snum }}">
                    {{ section.course.dept }} {{ section.cnum }} - {{ section.snum }}
                </a>
            </p>
        </div> <br>

    {% empty %}
        <div>No Sections yet.</div>

    {% endfor %}

</div>
        {% include "main/footer.html" %}
{% endblock content %}
