{% extends "base.html" %}

{% block content %}
    {% include "main/header.html" %}
    <div class="mainWrapper">
        <div class="insideWrapper">
            <div class="course" style="padding: 32px; background-color: lightgray">
                <h1>Section</h1>
                <p>Section Type: {{ section.dept }}</p>
                <p>Section Number: {{ section.snum }}</p>
                <p>Course Number: {{ section.cnum }}</p>
                <p>Room Number: {{ section.room }}</p>
                <p>Instructor: {{ section.instructor }}</p>
                <p>Days: {{ section.days }}</p>
                <p>Time: {{ section.time }}</p>
            </div>
        </div>
        {% include "main/footer.html" %}
    </div>
{% endblock content %}



