<!-- Used for adding and editing -->

{% extends "user/base.html" %}
{% block content %}
    <p>User add/edit</p>
    {% if displaystatus %}
        <p>{{ status }}</p>
    {% endif %}
    {% if canedit %}
        <form method="POST" action="{{ action }}">
        {% csrf_token %}
            <p>Username: </br><input type="text" name="username" value="{{ value.username }}" required></p>
            <p>Password: </br><input type="text" name="password" value="{{ value.password }}"></p>

            {% for role in role_list %}
                {% if role == checked_role %}
                    <input type="radio" name="role" value="{{ role }}" checked>{{ role }}</br>
                {% else %}
                    <input type="radio" name="role" value="{{ role }}">{{ role }}</br>
                {% endif %}
            {% endfor %}

            <p>Address: </br><input type="text" name="address" value="{{ value.address }}"></p>
            <p>Phone Number: </br><input type="text" name="phone_number" value="{{ value.phone_number }}"></p>
            <p>Email: </br><input type="text" name="email" value="{{ value.email }}"></p>
            <p>First Name: </br><input type="text" name="firstname" value="{{ value.firstname }}"></p>
            <p>Last Name: </br><input type="text" name="lastname" value="{{ value.lastname }}"></p>
            <p>Bio: </br><input type="text" name="bio" value="{{ bio }}"></p>

            <input type="submit" value="Submit">
        </form>
    {% else %}
        <form>
            <p>Username: </br><input type="text" name="username" value="{{ value.username }}" readonly></p>
            <p>Password: </br><input type="text" name="password" value="{{ value.password }}" readonly></p>

            {% for role in role_list %}
                {% if role == checked_role %}
                    <input type="radio" name="role" value="{{ role }}" checked>
                {% endif %}
            {% endfor %}

            <p>Address: </br><input type="text" name="address" value="{{ value.address }}" readonly></p>
            <p>Phone Number: </br><input type="text" name="phone_number" value="{{ value.phone_number }}" readonly></p>
            <p>Email: </br><input type="text" name="email" value="{{ value.email }}" readonly></p>
            <p>First Name: </br><input type="text" name="firstname" value="{{ value.firstname }}" readonly></p>
            <p>Last Name: </br><input type="text" name="lastname" value="{{ value.lastname }}" readonly></p>
            <p>Bio: </br><input type="text" name="bio" value="{{ value.bio }}" readonly></p>
        </form>
    {% endif %}
{% endblock content %}