{% extends "user/base.html" %}

{% block content %}
    {% if datafound %}
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Bio</th>
                <th>Email</th>
                <th>Sections</th>
                <th>Courses</th>
                <th>Phone Number</th>
                <th>Address</th>
                {% if display_edit_link %}
                    <th></th>
                {% endif %}
            </tr>

            {% for entry in data %}
                <tr>
                    <td> {{ entry.firstname }} </td>
                    <td> {{ entry.lastname }} </td>
                    <td> {{ entry.bio }} </td>
                    <td> {{ entry.email }} </td>
                    <td> {{ entry.sections }} </td>
                    <td> {{ entry.courses }} </td>
                    <td> {{ entry.phonenum }} </td>
                    <td> {{ entry.address }} </td>
                    {% if display_edit_link %}
                        <td><a href="/user/edit/{{ entry.username }}">edit</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Currently no users</p>
    {% endif %}
{% endblock content %}